.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box {
    width: 400px;
    height: 60px;
}
.font-title {
    font-family: 'Edu TAS Beginner', cursive;
    text-decoration: underline;
    color: rosybrown;
    text-decoration-color: rosybrown;
}
body {
    background-color: #fefefe;
}
.minibox {
    width: 400px;
    height: 30px;
    color: gray;
}
